@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0 0 0;
  --background-start-rgb: 214 219 220;
  --background-end-rgb: 255 255 255;
  --background-rgb: 235 235 235;
  --background-hex: #ebebeb;
}

body.dark {
  --foreground-rgb: 255 255 255;
  --background-start-rgb: 0 0 0;
  --background-end-rgb: 0 0 0;
  --background-rgb: 0 0 0;
  --background-hex: #000000;
}

body {
  color: rgb(var(--foreground-rgb));
  transition: all 0.5s ease;
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

rt {
  text-align: center;
}
